@page "/"

<PageTitle>Chef Buddy</PageTitle>

<h1>Hello chef!</h1>

<p>
    Welcome to <strong>Chef Buddy</strong>.
</p>
<p>
    <em>Where's the lamb sauce?</em>
</p>

<br/>

<img src="img/gordon.jpg" alt="Gordon Ramsay" class="img-fluid" />